.container_color{
    background-color: #648cff !important;
}

.titles{
    color: #648cff !important;
}

.yn-button{
    width: 49%;
    background-color: #648cff;
    text-decoration: none;
    border: none;
    margin-bottom: 5px;
    margin-top: 5px;
}
.yn-button:hover{
    text-decoration: none !important;
    background-color: #5b80e5 !important;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19) !important;
}
.yn-button:focus{
    box-shadow: none !important;
}

.question{
    margin-top: 20px;
}